@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);

main {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
}

.left-pane {
  position: absolute;
  top: 0; bottom: 0;
  left: 0;
  right: 50%;
}

.right-pane {
  position: absolute;
  top: 0; bottom: 0;
  left: 50%;
  right: 0;
}

.fill {
  width: 100%; height: 100%;
}

.stack-1-3 {
  width: 100%; height: 33%;
}

.stack-2-3 {
  width: 100%; height: 67%;
}

.watch-button {
  position: absolute;
  right: 0;
  z-index: 300;
}

#editor {
  background-color: #1D1F20; color: white;
  font-size: 18px;
  width: 100%; height: 100%;
}

#editor .watch-marker {
  position: absolute;
  z-index: 200;
  background-color: #343436;
  border-bottom: 2px #60BFBF solid;
}

#console {
  font-family: 'PT Sans', sans-serif;
  background-color: #343436;
  border-top: 1px solid #444;
  color: #ccc;
  box-sizing: border-box;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: scroll;
}

#console pre {
  white-space: pre-wrap;
}

#slide {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: 48px;
  background-color: #60BFBF;
  box-sizing: border-box;
  padding: 20px;
  border-right: 3px solid #509f9f;
  overflow-x: hidden;
  overflow-y: scroll;
}

#slide i, #slide b, #slide em, #slide strong, #slide h1 { color: white; }
#slide h1 { margin: 0 0 0.3em 0; }
